@mixin button {
	background-color: #fff;
	border: 1px solid #d0d7de;
	border-radius: 4px;
	cursor: pointer;
	direction: ltr;
	display: block;
	font-family: 'SF Pro Text', 6 'SF Pro Icons', 'AOS Icons', 'Helvetica Neue',
		Helvetica, Arial, sans-serif;
	font-size: 15px;
	font-weight: 400;
	letter-spacing: -0.022em;
	line-height: 1.47059;
	min-width: 30px;
	overflow: visible;
	padding: 4px 15px;
	text-align: center;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
	white-space: nowrap;

	&:disabled {
		cursor: default;
		opacity: 0.3;
	}

	&:hover {
		border-color: #65298d;
		text-decoration: none;
	}

	&:focus {
		box-shadow: #622c8615 0 0 0 2px;
		outline: none;
	}

	@media (max-width: 1024px) {
		font-size: 14px;
	}
	@media (max-width: 768px) {
		font-size: 12px;
		padding: 3px 7px;
	}
}

.card {
	padding: 30px 25px;
	text-decoration: none;
	border: 1px solid #eaeaead6;
	border-radius: 10px;
	width: 25%;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	gap: 25px;
	align-items: center;
	box-shadow: #64646f33 0 7px 29px;
	transition: 0.3s;
	height: fit-content;

	@media (max-width: 1024px) {
		width: 35%;
	}
	@media (max-width: 768px) {
		width: 47%;
		padding: 10px;
	}

	&:hover {
		border: 1px solid #cfcfcfda;
		box-shadow: 2px 1px 30px 5px rgba(0, 0, 0, 0.03);
	}

	&__img {
		width: 45%;
	}

	img {
		aspect-ratio: 1;
		width: 100% !important;
		border-radius: 25%;
	}

	&__root {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		gap: 30px;

		@media (max-width: 768px) {
			gap: 0;
			justify-content: space-between;
		}
	}

	&__heading {
		margin: 0;
		letter-spacing: 1px;
		font-size: 24px;
		font-weight: 700;
		text-align: center;

		@media (max-width: 768px) {
			font-size: 18px;
		}
	}

	&__desc {
		word-break: break-all;

		@media (max-width: 768px) {
			font-size: 14px;
		}
	}
}

.buttonDelegate {
	@include button;
}

.buttonExplorer {
	@include button;
}

.buttonDelegate_dark,
.buttonExplorer_dark {
	@include button;
	color: #e9eef2;
	background-color: #1b1e21;
	border-color: rgba(240, 246, 252, 0.1);

	&:hover {
		background-color: #30363d;
		border-color: #8d949e;
	}
}

.button__wrapper {
	display: flex;
	gap: 10px;

	@media (max-width: 768px) {
		gap: 7px;
	}
}
