@mixin button {
	background-color: #fff;
	border: 1px solid #d0d7de;
	border-radius: 4px;
	cursor: pointer;
	display: block;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.5;
	min-width: 30px;
	overflow: visible;
	padding: 4px 15px;
	text-align: center;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
	white-space: nowrap;

	&:disabled {
		cursor: default;
		opacity: 0.3;
	}

	&:hover {
		border-color: #7430a1;
		text-decoration: none;
	}

	&:focus {
		box-shadow: #622c8615 0 0 0 2px;
		outline: none;
	}

	@media (max-width: 1024px) {
		font-size: 13px;
		padding: 3px 10px;
	}
	@media (max-width: 768px) {
		font-size: 12px;
		padding: 3px 7px;
	}
}

.card {
	padding: 25px;
	text-decoration: none;
	border: 1px solid #c1c0c055;
	border-radius: 10px;
	width: 20%;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	align-items: center;
	gap: 20px;
	cursor: pointer;
	box-shadow: #82828333 0 7px 29px;
	transition: 0.3s;
	height: fit-content;

	@media (max-width: 1024px) {
		padding: 20px;
		width: 30%;
	}

	@media (max-width: 1024px) {
		padding: 10px;
		width: 45%;
	}

	&:hover {
		border: 1px solid #cfcfcfda;
		box-shadow: 2px 1px 30px 5px rgba(0, 0, 0, 0.03);
	}

	&__img {
		width: 50%;
	}

	img {
		aspect-ratio: 1;
		width: 100% !important;
		border-radius: 25%;
		background-color: #fff;
		fill: #000;
	}

	&__root {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		gap: 30px;

		@media (max-width: 1024px) {
			gap: 20px;
		}
	}

	&__heading {
		margin: 0;
		font-size: 22px;
		font-weight: 700;
		letter-spacing: 1px;
		text-align: center;
	}

	&__desc {
		word-break: break-all;
	}
}

.buttonExplore {
	@include button;
}

.buttonSupport {
	@include button;

	&:hover {
		border-color: #3037a3;
		text-decoration: none;
	}

	&:focus {
		box-shadow: #38309415 0 0 0 2px;
		outline: none;
	}
}

.button__container {
	display: flex;
	flex-wrap: wrap;
	gap: 15px;
}
