@mixin button {
	background-color: #fff;
	border: 1px solid #d0d7de;
	border-radius: 4px;
	cursor: pointer;
	direction: ltr;
	display: block;
	font-family: 'SF Pro Text', 6 'SF Pro Icons', 'AOS Icons', 'Helvetica Neue',
		Helvetica, Arial, sans-serif;
	font-size: 15px;
	font-weight: 400;
	letter-spacing: -0.022em;
	line-height: 1.47059;
	min-width: 30px;
	overflow: visible;
	padding: 4px 15px;
	text-align: center;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
	white-space: nowrap;

	&:disabled {
		cursor: default;
		opacity: 0.3;
	}

	&:hover {
		border-color: #65298d;
		text-decoration: none;
	}

	&:focus {
		box-shadow: #622c8615 0 0 0 2px;
		outline: none;
	}

	@media (max-width: 1024px) {
		font-size: 14px;
	}
	@media (max-width: 768px) {
		font-size: 12px;
		padding: 3px 7px;
	}
}

.card {
	padding: 30px 25px;
	text-decoration: none;
	border: 1px solid #eaeaead6;
	border-radius: 10px;
	width: 25%;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	gap: 25px;
	align-items: center;
	box-shadow: #64646f33 0 7px 29px;
	transition: 0.3s;
	height: fit-content;

	@media (max-width: 1480px) {
		width: 30%;
	}

	@media (max-width: 1024px) {
		width: 35%;
	}
	@media (max-width: 768px) {
		width: calc(50% - 6px);
		padding: 10px;
		gap: 20px;
	}

	&:hover {
		border: 1px solid #cfcfcfda;
		box-shadow: 2px 1px 30px 5px rgba(0, 0, 0, 0.03);
	}

	&__img {
		width: 45%;
	}

	img {
		aspect-ratio: 1;
		width: 100% !important;
		border-radius: 25%;
	}

	&__root {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		gap: 30px;

		@media (max-width: 768px) {
			gap: 10px;
		}
	}

	&__heading {
		margin: 0;
		font-size: 24px;
		font-weight: 700;
		text-align: center;

		@media (max-width: 768px) {
			font-size: 18px;
		}
	}

	&__desc {
		word-break: break-all;

		@media (max-width: 768px) {
			font-size: 14px;
		}
	}
}

.buttonDelegate {
	@include button;
}

.buttonExplorer {
	@include button;
}

.buttonDelegate_dark,
.buttonExplorer_dark {
	@include button;
	color: #e9eef2;
	background-color: #1b1e21;
	border-color: rgba(240, 246, 252, 0.1);

	&:hover {
		background-color: #30363d;
		border-color: #8d949e;
	}
}

.button__wrapper {
	display: flex;
	margin-top: 5px;
	gap: 20px;

	@media (max-width: 1024px) {
		gap: 10px;
	}

	@media (max-width: 768px) {
		gap: 7px;
	}
}

.finishedRoot {
	transition: all 2s cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
	gap: 20px;

	@media (max-width: 1024px) {
		gap: 10px;
		transform: rotateY(0deg) rotateX(0deg);
	}

	@media (min-width: 1023px) {
		&:hover {
			transform: translateY(-10px);
			.finishedCard {
				transform: rotateY(0deg) rotateX(0deg);
			}
		}
	}
}
.finishedCard {
	padding: 20px;
	width: 19%;
	border-radius: 15%;
	transform: rotateY(15deg) rotateX(-15deg);
	transition: all 2s cubic-bezier(0.075, 0.82, 0.165, 1) 0s;

	@media (max-width: 1200px) {
		width: 25%;
	}

	@media (max-width: 1024px) {
		transform: rotateY(0deg) rotateX(0deg);
		width: 25%;
	}

	@media (max-width: 768px) {
		width: calc(50% - 10px);
	}
}

.btnDelegate,
.btnDelegate_blue {
	font-size: 14px;
	border-radius: 10px;
	letter-spacing: -0.02em;
	line-height: 16px;
	padding: 12px 24px;
	font-weight: 500;
	font-family: 'JetBrains Mono';
	background: #7367f0;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;
	border: none;
	cursor: pointer;
	margin: 10px 0;
	transition: 0.3s;

	&:hover {
		background: #6a5fdf;
		color: #fff;
	}

	@media (max-width: 768px) {
		font-size: 13px;
		padding: 8px 16px;
	}
}

.btnDelegate_blue {
	background-color: #5f79e3e2;

	&:hover {
		background: #4f66c4e8;
	}
}

.delegateWrapper {
	text-align: center;
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.delegateColumn {
	width: 50%;
}
