.root {
	display: flex;
	gap: 10px;
	justify-content: space-between;
}

.wrapper {
	width: 28%;
	display: flex;
	justify-content: center;
}

.img {
	width: 50%;
	padding: 10px;

	img {
		aspect-ratio: 1;
		width: 100% !important;
		background-color: #fff;
		border-radius: 15px;
		fill: #000;
	}
}
