@import '../styles/Home.module.scss';

.footer {
	width: 100%;
	min-height: 100px;
	background-color: #000000;
	color: #fff;

	&__logo {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 200px;

		@media (max-width: 768px) {
			width: 150px;
			height: 60px;
		}

		img {
			width: 100% !important;
		}
	}
}

.container {
	display: flex;
	align-content: center;
	align-items: center;
	justify-content: space-between;

	@media (max-width: 768px) {
		flex-direction: column;
	}
}

.copyright {
	font-size: 14px;
	font-weight: 500;
	margin: 20px 0;

	@media (max-width: 768px) {
		font-size: 11px;
	}
}

.social-icon {
	@media (max-width: 768px) {
		width: 25px !important;
		height: 25px !important;
	}
}
