html,
body {
	padding: 0;
	margin: 0;
	scroll-behavior: smooth;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-family: 'Inter';
	color: rgba(0, 0, 0, 0.9);
	transition: 0.6s;
	overflow-x: hidden;
}

li {
	list-style: none;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

section {
	min-height: 100vh;
	display: flex;
	justify-content: center;
	flex-direction: column;
	margin-bottom: 90px;
	backdrop-filter: saturate(180%) blur(10px);

	&:last-of-type {
		margin-bottom: 5px;
	}
}

.center-flex {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.ant-menu-submenu {
	margin-right: 8px;
	margin-bottom: 10px;
}

.ant-menu-item {
	border: 1px solid rgba(131, 131, 131, 0.2);
}

.ant-menu-light {
	.ant-menu-submenu-title[aria-expanded='true'] {
		background-color: #dbeafe !important;
		color: black;
	}
}
.ant-menu-dark {
	.ant-menu-submenu-title[aria-expanded='true'] {
		background-color: #093666 !important;
		color: white;
	}
}

.ant-menu-submenu-title {
	border: 1px solid rgba(0, 0, 0, 0.03);
	background-color: rgb(245, 245, 245);
	user-select: none;
	box-shadow: rgba(149, 157, 165, 0.1) 0px 8px 24px;
}

.ant-menu-root {
	height: calc(100vh - 82px);
	overflow-y: auto;
	overflow-x: hidden;

	&::-webkit-scrollbar {
		width: 8px;
	}

	&::-webkit-scrollbar-track {
		background-color: transparent;
		border-radius: 10px;
	}

	&::-webkit-scrollbar-thumb {
		border-radius: 10px;
		background-color: #999;
	}

	&::-webkit-scrollbar-button:single-button:vertical:decrement {
		height: 0px;
		width: 0px;
	}
	&::-webkit-scrollbar-button:single-button:vertical:increment {
		height: 0px;
		width: 0px;
	}
}

::-webkit-scrollbar {
	width: 12px;
	height: 12px;
}

::-webkit-scrollbar-corner,
::-webkit-scrollbar-track {
	background-color: rgb(64, 64, 64);
}

::-webkit-scrollbar-thumb {
	background-color: rgb(96, 96, 96);
	background-clip: padding-box;
	border: 2px solid transparent;
}

::-webkit-scrollbar-thumb:hover {
	background-color: rgb(112, 112, 112);
}

::-webkit-scrollbar-thumb:active {
	background-color: rgb(128, 128, 128);
}

/* Buttons */
::-webkit-scrollbar-button:single-button {
	background-color: rgb(64, 64, 64);

	display: block;
	background-size: 10px;
	background-repeat: no-repeat;
}

/* Up */
::-webkit-scrollbar-button:single-button:vertical:decrement {
	height: 12px;
	width: 16px;
	background-position: center 4px;
	background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(128,128,128)'><polygon points='50,00 0,50 100,50'/></svg>");
}

::-webkit-scrollbar-button:single-button:vertical:decrement:hover {
	background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(112, 112, 112)'><polygon points='50,00 0,50 100,50'/></svg>");
}

::-webkit-scrollbar-button:single-button:vertical:decrement:active {
	background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(128, 128, 128)'><polygon points='50,00 0,50 100,50'/></svg>");
}

/* Down */
::-webkit-scrollbar-button:single-button:vertical:increment {
	height: 12px;
	width: 16px;
	background-position: center 2px;
	background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(96, 96, 96)'><polygon points='0,0 100,0 50,50'/></svg>");
}

::-webkit-scrollbar-button:single-button:vertical:increment:hover {
	background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(112, 112, 112)'><polygon points='0,0 100,0 50,50'/></svg>");
}

::-webkit-scrollbar-button:single-button:vertical:increment:active {
	background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(128, 128, 128)'><polygon points='0,0 100,0 50,50'/></svg>");
}

/* Left */
::-webkit-scrollbar-button:single-button:horizontal:decrement {
	height: 12px;
	width: 12px;
	background-position: 3px 3px;
	background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(96, 96, 96)'><polygon points='0,50 50,100 50,0'/></svg>");
}

::-webkit-scrollbar-button:single-button:horizontal:decrement:hover {
	background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(112, 112, 112)'><polygon points='0,50 50,100 50,0'/></svg>");
}

::-webkit-scrollbar-button:single-button:horizontal:decrement:active {
	background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(128, 128, 128)'><polygon points='0,50 50,100 50,0'/></svg>");
}

/* Right */
::-webkit-scrollbar-button:single-button:horizontal:increment {
	height: 12px;
	width: 12px;
	background-position: 3px 3px;
	background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(96, 96, 96)'><polygon points='0,0 0,100 50,50'/></svg>");
}

::-webkit-scrollbar-button:single-button:horizontal:increment:hover {
	background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(112, 112, 112)'><polygon points='0,0 0,100 50,50'/></svg>");
}

::-webkit-scrollbar-button:single-button:horizontal:increment:active {
	background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(128, 128, 128)'><polygon points='0,0 0,100 50,50'/></svg>");
}
