html,
body {
	padding: 0;
	margin: 0;
	scroll-behavior: smooth;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-family: 'Inter';
	font-weight: 300;
	color: rgba(0, 0, 0, 0.9);
	transition: 0.6s;
	overflow-x: hidden;
	z-index: 1;
}

li {
	list-style: none;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
	word-break: break-word;
	margin: 0;
	padding: 0;
}

section {
	min-height: 100vh;
	display: flex;
	justify-content: center;
	flex-direction: column;
	margin-bottom: 90px;

	&:last-of-type {
		margin-bottom: 40px;
	}

	@media (max-width: 768px) {
		min-height: fit-content;
		margin-bottom: 75px;
	}
}

.social-icon {
	display: flex !important;
	justify-content: center;
	align-items: center;
}

.social-container,
.social-svg {
	position: relative;
	@media (max-width: 768px) {
		width: 25px !important;
		height: 25px !important;
	}
}

.center-flex {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.ant-space-item {
	img {
		border-radius: 20%;
	}
}

.ant-alert {
	@media (max-width: 768px) {
		margin-top: 0px !important;
	}
}

.ant-menu {
	@media (max-width: 1024px) {
		width: 250px;
	}
}

.ant-menu-submenu {
	margin-right: 8px;
}

.ant-menu-item {
	border: 1px solid rgba(131, 131, 131, 0.15);
	font-size: 14px;
	font-weight: 400;

	@media (max-width: 1024px) {
		font-size: 13px;
		padding: 15px !important;
	}
	@media (max-width: 1024px) {
		font-size: 12px;
		padding: 10px !important;
	}
}

.ant-alert-message {
	@media (max-width: 768px) {
		font-size: 12px;
	}
}
.ant-menu-light {
	.ant-menu-submenu-title[aria-expanded='true'] {
		background-color: #dbeafe !important;
		color: black;
	}
}
.ant-menu-dark {
	.ant-menu-submenu-title[aria-expanded='true'] {
		background-color: #093666 !important;
		color: white;
	}
}

.ant-menu-submenu-title {
	border: 1px solid rgba(0, 0, 0, 0.1);
	font-weight: 400;
	user-select: none;
	box-shadow: rgba(149, 157, 165, 0.06) 0px 8px 16px;

	@media (max-width: 1024px) {
		font-size: 14px;
		width: 150px;
	}
}

.ant-menu-root {
	height: calc(100vh - 76px);
	overflow-y: auto;
	overflow-x: hidden;

	&::-webkit-scrollbar {
		width: 7px;
	}

	&:hover {
		&::-webkit-scrollbar-thumb {
			border-radius: 10px;
			background-color: rgba(153, 153, 153, 0.5);
		}
	}

	&::-webkit-scrollbar-track {
		background-color: transparent;
		border-radius: 10px;
	}

	&::-webkit-scrollbar-thumb {
		border-radius: 15px;
		background-color: rgba(153, 153, 153, 0);
	}

	&::-webkit-scrollbar-button:single-button:vertical:decrement {
		height: 0px;
		width: 0px;
	}
	&::-webkit-scrollbar-button:single-button:vertical:increment {
		height: 0px;
		width: 0px;
	}
}

::-webkit-scrollbar {
	width: 12px;
	height: 12px;
}

::-webkit-scrollbar-corner,
::-webkit-scrollbar-track {
	background-color: rgb(64, 64, 64);
}

::-webkit-scrollbar-thumb {
	background-color: rgb(96, 96, 96);
	background-clip: padding-box;
	border: 2px solid transparent;
}

::-webkit-scrollbar-thumb:active {
	background-color: rgb(128, 128, 128);
}

/* Buttons */
::-webkit-scrollbar-button:single-button {
	background-color: rgb(64, 64, 64);

	display: block;
	background-size: 10px;
	background-repeat: no-repeat;
}

/* Up */
::-webkit-scrollbar-button:single-button:vertical:decrement {
	height: 12px;
	width: 16px;
	background-position: center 4px;
	background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(128,128,128)'><polygon points='50,00 0,50 100,50'/></svg>");
}

::-webkit-scrollbar-button:single-button:vertical:decrement:hover {
	background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(112, 112, 112)'><polygon points='50,00 0,50 100,50'/></svg>");
}

::-webkit-scrollbar-button:single-button:vertical:decrement:active {
	background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(128, 128, 128)'><polygon points='50,00 0,50 100,50'/></svg>");
}

/* Down */
::-webkit-scrollbar-button:single-button:vertical:increment {
	height: 12px;
	width: 16px;
	background-position: center 2px;
	background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(96, 96, 96)'><polygon points='0,0 100,0 50,50'/></svg>");
}

::-webkit-scrollbar-button:single-button:vertical:increment:hover {
	background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(112, 112, 112)'><polygon points='0,0 100,0 50,50'/></svg>");
}

::-webkit-scrollbar-button:single-button:vertical:increment:active {
	background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(128, 128, 128)'><polygon points='0,0 100,0 50,50'/></svg>");
}

/* Left */
::-webkit-scrollbar-button:single-button:horizontal:decrement {
	height: 12px;
	width: 12px;
	background-position: 3px 3px;
	background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(96, 96, 96)'><polygon points='0,50 50,100 50,0'/></svg>");
}

::-webkit-scrollbar-button:single-button:horizontal:decrement:hover {
	background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(112, 112, 112)'><polygon points='0,50 50,100 50,0'/></svg>");
}

::-webkit-scrollbar-button:single-button:horizontal:decrement:active {
	background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(128, 128, 128)'><polygon points='0,50 50,100 50,0'/></svg>");
}

/* Right */
::-webkit-scrollbar-button:single-button:horizontal:increment {
	height: 12px;
	width: 12px;
	background-position: 3px 3px;
	background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(96, 96, 96)'><polygon points='0,0 0,100 50,50'/></svg>");
}

::-webkit-scrollbar-button:single-button:horizontal:increment:hover {
	background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(112, 112, 112)'><polygon points='0,0 0,100 50,50'/></svg>");
}

::-webkit-scrollbar-button:single-button:horizontal:increment:active {
	background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(128, 128, 128)'><polygon points='0,0 0,100 50,50'/></svg>");
}

.hljs.language-bash {
	font-family: 'JetBrains Mono';
	font-size: 14px;
	margin-bottom: 15px;
}

.hljs-string {
	color: #c39957 !important;
}

.hljs-number {
	color: rgb(242, 24, 60) !important;
}

.ant-menu-dark .ant-menu-item-group-title {
	color: rgba(255, 255, 255, 0.7) !important;
}
.ant-menu-light .ant-menu-item-group-title {
	color: rgba(0, 0, 0, 0.6) !important;
}

.ant-menu {
	transition: 0.3s;
}

.ant-btn {
	padding: 4px 10px;
}

.ant-alert {
	width: 90%;
}

.ant-notification-notice {
	@media (max-width: 768px) {
		padding: 15px 18px;
	}
}

.ant-notification-notice-description {
	span {
		@media (max-width: 768px) {
			font-size: 13px;
		}
	}
}

.socials {
	display: flex;
	align-items: center;
	justify-content: center;
	width: fit-content;
	gap: 20px;
}
