.header {
	position: relative;
	width: 100%;
	max-height: 85px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 2rem;
	transition: 0.3s;
	border-bottom: 1px solid #8b8b8b15;
	@media (max-width: 768px) {
		padding: 6px 15px;
	}

	button {
		background-color: transparent;
		border: transparent;
	}
}

.headerNav {
	@media (max-width: 1023px) {
		display: none;
	}

	&__wrapper {
		display: flex;
		gap: 30px;
		align-items: center;
	}

	ul {
		display: flex;
		gap: 15px;

		@media (max-width: 768px) {
			gap: 10px;
		}
	}

	a {
		opacity: 0.8;
		text-decoration: none;

		&:hover {
			opacity: 1;
			text-decoration: none;
		}
	}

	ul {
		li {
			display: block;
			font-size: 17px;
			font-weight: 500;
			text-transform: capitalize;
			padding: 10px 15px;
			cursor: pointer;
			position: relative;
			z-index: 1;
			transition: 0.3s;
			user-select: none;
			-webkit-user-select: none;

			&::before {
				width: 0px;
			}

			@media (max-width: 768px) {
				padding: 5px 10px;
			}
		}
	}
}

.logo {
	margin: 5px;

	cursor: pointer;

	@media (max-width: 768px) {
		margin: 0;
		width: 160px !important;
	}
}

.switch {
	width: 54px;
	height: 27px;
	border: 1px solid;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	border-radius: 50px;
	padding: 4px;
	margin: 0px 5px;
	cursor: pointer;
	background: linear-gradient(
		-45deg,
		#ee765200,
		#e73c7e00,
		#23a5d500,
		#23d5ab00
	);
	background-size: 400% 400%;

	&:hover {
		background: linear-gradient(
			-45deg,
			#ee76521b,
			#e73c7e26,
			#23a5d51c,
			#23d5ab24
		);
		animation: gradient 15s ease infinite;
	}

	@keyframes gradient {
		0% {
			background-position: 0% 50%;
		}
		50% {
			background-position: 100% 50%;
		}
		100% {
			background-position: 0% 50%;
		}
	}

	@media (max-width: 768px) {
		width: 45px;
		height: 23px;
	}
}

.switch[data-ison='true'] {
	justify-content: flex-end;
}

.handle {
	width: 18px;
	height: 18px;
	border-radius: 40px;

	@media (max-width: 768px) {
		width: 12px;
		height: 12px;
	}
}

.burgerIconWrapper {
	width: 25px;
	height: 25px;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: center;

	span {
		transition: 0.3s ease;
		width: 100%;
		height: 1px;
	}
}

.burgerButton {
	display: none;

	@media (max-width: 1023px) {
		display: block;
	}
}

.burgerMenu {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	transition: 0.3s ease;
	border-bottom: solid 1px #eaeaea;
	font-weight: 400;
	padding: 10px 30px 20px;
	opacity: 1;

	ul {
		padding: 10px 0px 40px;

		li {
			border-bottom: solid 1px rgba(151, 151, 151, 0.2);

			a {
				width: 100%;
				height: 100%;
				display: inline-block;
				padding: 15px 0;
			}
		}
	}
}
