@mixin container {
	padding: 0px 5rem;

	@media only screen and (max-width: 1024px) {
		padding: 0px 2rem;
	}

	@media only screen and (max-width: 768px) {
		padding: 15px;
	}
}

.container {
	@include container;
}

.main {
	height: 100vh;
	padding: 4rem 0;
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.logo {
	padding: 20px 15px;
	cursor: pointer;
}

.title a {
	color: #0070f3;
	text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
	text-decoration: underline;
}

.title {
	margin: 0;
	line-height: 1.15;
	font-size: 3.15rem;
	position: relative;

	&:hover {
		text-decoration: underline;
	}

	@media (max-width: 768px) {
		font-size: 1.9rem;
		line-height: 1.1;
	}
}

.title,
.description {
	text-align: center;
}

.description {
	margin: 2rem 0 4rem;
	line-height: 1.5;
	font-size: 1.4rem;

	@media (max-width: 768px) {
		margin: 1rem 0 2rem;
		line-height: 1.4;
		font-size: 14px;
	}
}

.code {
	background: #fafafa;
	color: rgb(27, 15, 50);
	border-radius: 5px;
	padding: 0.5rem;
	font-size: 1.1rem;
	font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
		Bitstream Vera Sans Mono, Courier New, monospace;
	@media (max-width: 768px) {
		font-size: 13px;
	}
}

.grid {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	max-width: 1000px;
}

@media (max-width: 600px) {
	.grid {
		width: 100%;
		flex-direction: column;
	}
}

#mainnetSection {
	justify-content: center;
}

.hero {
	justify-content: flex-start;
	margin-bottom: 10px;
	transition: 0.3s;

	&__wrapper {
		width: 100%;
		height: fit-content;
		display: flex;
		align-content: center;
		flex-wrap: wrap;
	}

	&__column {
		width: 50%;
		height: calc(100vh - 80px);
		padding: 30px 40px;
		display: flex;
		flex-direction: column;
		justify-content: center;

		@media (max-width: 768px) {
			padding: 30px;
			height: fit-content;
			width: 100%;
		}
	}

	&__heading {
		font-weight: 700;
		position: relative;
		font-size: 45px;
		margin-bottom: 25px;

		&:hover {
			text-decoration: underline;
		}

		@media (max-width: 768px) {
			font-size: 27px;
			margin-bottom: 15px;
		}
	}

	svg {
		margin-bottom: 20px;

		@media (max-width: 768px) {
			margin-bottom: 15px;
		}
	}

	&__desc {
		width: 80%;
		line-height: 1.8;
		font-weight: 400;
		font-size: 17px;

		@media (max-width: 768px) {
			width: 95%;
			line-height: 1.3;
			font-size: 14px;
		}
	}
}

.accordion__wrapper {
	display: flex;
	align-content: center;
	justify-content: space-around;
	flex-direction: column;
}

.text {
	position: absolute;
	top: 50px;
	bottom: 0;
	animation: rotate 25s linear infinite;
	animation-delay: 1s;

	@keyframes rotate {
		0% {
			transform: rotate(0deg);
		}
		100% {
			transform: rotate(360deg);
		}
	}
}

.rocket {
	position: absolute;

	top: 40px;
	bottom: 0;
}

.rocketWrapper {
	width: 450px;
	height: 450px;
	display: flex;
	align-items: center;
	position: relative;
}
