.modal {
	width: clamp(60%, 800px, 90%);
	height: min(68%, 600px);
	margin: auto;
	padding: 2.5rem;
	border-radius: 12px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	backdrop-filter: blur(10px);
	box-shadow: rgba(164, 165, 165, 0.25) 0px 2px 48px;

	div {
		line-height: 1.3;

		@media (max-width: 768px) {
			font-size: 11px;
		}
	}
	position: relative;

	@media (max-width: 768px) {
		width: calc(100% - 15px);
		padding: 5px 15px;
	}
}

.exit {
	position: absolute;
	display: inline-block;
	height: 40px;
	width: 40px;
	top: 20px;
	right: 20px;
	padding: 10px;
	background-color: rgb(0, 0, 0);
	color: #fff;
	border-radius: 50%;
	cursor: pointer;

	@media (max-width: 768px) {
		padding: 0;
		width: 20px;
		height: 20px;
		top: 5px;
		right: 5px;
	}
}
