@mixin column {
	display: flex;
	padding: 15px;
}

.container {
	display: flex;
	width: 100%;

	@media (max-width: 768px) {
		flex-direction: row-reverse;
	}
}

.SideColumn {
	@include column;
	flex-direction: column;
	gap: 15px;
	height: calc(100vh - 76px);
	z-index: 100;

	@media (max-width: 768px) {
		padding: 15px 5px;
		position: absolute;
		top: 70px;
		gap: 0px;
	}
}

.MainColumn {
	@include column;
	flex-direction: column;
	gap: 8px;
	height: calc(100vh - 76px);
	overflow-y: scroll;
	padding: 0 80px 60px 80px;
	display: flex;
	align-content: center;
	width: 100%;

	@media (max-width: 1024px) {
		width: 100%;
	}

	@media (max-width: 768px) {
		padding: 5px 15px 15px;
	}

	&:hover {
		&::-webkit-scrollbar-thumb {
			background-color: rgba(153, 153, 153, 0.5);
		}
	}

	&::-webkit-scrollbar {
		width: 8px;
	}

	&::-webkit-scrollbar-track {
		background-color: transparent;
		border-radius: 10px;
	}

	&::-webkit-scrollbar-thumb {
		border-radius: 10px;
		background-color: rgba(153, 153, 153, 0);
	}

	&::-webkit-scrollbar-button:single-button:vertical:decrement {
		height: 0px;
		width: 0px;
	}
	&::-webkit-scrollbar-button:single-button:vertical:increment {
		height: 0px;
		width: 0px;
	}

	p {
		font-size: 15px;
		@media (max-width: 768px) {
			font-size: 14px;
		}
	}

	h2 {
		font-size: 35px;
		border-bottom: 1px solid #e1e4e8;
		padding-bottom: 5px;
		margin-top: 35px;
		font-weight: 600;
		margin-bottom: 10px;
		width: 90%;

		@media (max-width: 768px) {
			font-size: 24px;
			margin-top: 25px;
		}

		&:first-of-type {
			margin-top: 20px;

			@media (max-width: 768px) {
				margin-top: 15px;
			}
		}
	}

	h3 {
		padding: 15px 0 5px;
		font-size: 23px;

		@media (max-width: 768px) {
			font-size: 18px;
		}
	}

	p {
		margin-bottom: 5px;
	}

	a {
		color: #0366d6;
		text-decoration: none;
		font-size: 15px;
		margin: 3px 0;
	}

	ul {
		padding-left: 1.5em;
		list-style: none;

		li {
			list-style: none;
			position: relative;
			margin-top: 0.1em;
			margin-bottom: 0.6em;

			&::before {
				content: '*';
				position: absolute;
				top: 0;
				left: -0.8em;
				border-radius: 50%;
			}

			&::marker {
				display: none;
			}
		}

		@media (max-width: 768px) {
			padding-left: 1em;
		}
	}
}
